// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.people-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h2 {
      width: 100%;
      margin-top: 20px;
  }

  .person {
      width: 30%;
      margin: 10px 0;
      text-align: center;

      img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
      }

      h3 {
          margin-top: 10px;
          font-size: 1.2em;
      }

      p {
          margin-top: 5px;
          font-size: 1em;
      }
  }
}

